:root {
  font-size: 16px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  
  --font-color: rgb(0, 0, 0, 0.8);
}

* {
  margin: 0px;
  box-sizing: border-box;
}

body {
  background-color: rgb(115, 115, 228);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 32px;
  padding-bottom: 60px;

  transition: background-color 2s ease;
}

body > h1 {
  color: white;
  font-size: 3rem;
  letter-spacing: 8px;
  margin-bottom: 16px;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

#locationInput {
  border: none;
  padding: 2px 3px;
  font-size: 1.5rem;
  text-align: center;
  border-radius: 8px;
  outline: none;
}

#enterBtn {
  font-size: 1.5rem;
  border-radius: 4px;
  bordeR: none;
  padding: 2px 16px;
}

.result-container {
  width: 400px;
  margin-top: 24px;
  background-color: white;
  border-radius: 12px;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 30px;
  display: none;
  opacity: 0;

  transition: all 1s;
}

.result-container #location {
  font-size: 2rem;
  color: var(--font-color);
}

.result-container #datetime {
  font-size: 1.2rem;
  margin-top: 8px;
}

.result-container #temperature {
  margin-top: 40px;
  font-size: 2rem;
}

.result-container #icon {
  width: 200px;
  height: 200px;
}

.result-container #description {
  font-size: 1.7rem;
  width: 100%;
  text-align: center;
}